body{
    font-family: "Microsoft YaHei",sans-serif;
    font-size: 14px;
    color: #333;
}
a{
    color: #333;
}
a:hover{
    color: #333;
    text-decoration: none;
}
/* 定义字体 */
@font-face{
    font-family: itheima;
    src:url('/fonts/MiFie-Wed-Font.eot')format('embedded-opentype'),
    url('/fonts/MiFie-Wed-Font.svg')format('svg'),
    url('/fonts/MiFie-Wed-Font.ttf')format('truetype'),
    url('/fonts/MiFie-Wed-Font.woff')format('woff'),
}